concurrent = 1
check_interval = 0

[[runners]]
  name = "{{ gitlab_runner_description }}"
  url = "{{ gitlab_runner_url }}"
  token = ""
  executor = "{{ gitlab_runner_executor }}"
  tls_skip_verify = true
