options {
    directory "/var/cache/bind";

    dnssec-validation no;

    recursion yes;
    allow-recursion { any; };

    listen-on { 127.0.0.1; {{ samba_bind_listen_ip }}; };
    listen-on-v6 { any; };

    forwarders {
        {{ samba_dns_forwarder }};
    };

    auth-nxdomain no;
};
