[defaults]
# Environnement par défaut
inventory = inventories/dev/hosts.yml

# Chemins globaux
roles_path = /home/kevin/Test-samba-ad-dc/v1/ansible/roles
host_key_checking = False
retry_files_enabled = False
forks = 20
timeout = 30
interpreter_python = auto

# Affichage propre et compatible Ansible 2.13+
stdout_callback = ansible.builtin.default
result_format = yaml
bin_ansible_callbacks = True

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True

# Définition explicite des inventaires disponibles
[inventory]
enable_plugins = yaml

[inventory_dev]
path = inventories/dev/hosts.yml

[inventory_prod]
path = inventories/prod/inventory.yml
