apiVersion: v1
kind: ConfigMap
metadata:
  name: moodle-config
  namespace: {{ moodle_namespace }}
data:
  MOODLE_DATABASE_TYPE: "{{ moodle_db_type }}"
  MOODLE_DATABASE_HOST: "{{ moodle_db_host }}"
  MOODLE_DATABASE_PORT_NUMBER: "{{ moodle_db_port }}"
  MOODLE_DATABASE_NAME: "{{ moodle_db_name }}"
  MOODLE_DATABASE_USER: "{{ moodle_db_user }}"

  MOODLE_USERNAME: "{{ moodle_admin_user }}"
  MOODLE_PASSWORD: "{{ moodle_admin_password }}"
  MOODLE_EMAIL: "{{ moodle_admin_email }}"
  MOODLE_SITE_NAME: "{{ moodle_site_name }}"
