services:
  beszel-agent:
    image: henrygd/beszel-agent
    container_name: beszel-agent
    restart: unless-stopped
    privileged: true
    network_mode: host

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /:/host:ro
      - {{ beszel_agent_data_dir }}:/var/lib/beszel-agent
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
      - /var/run/systemd/private:/var/run/systemd/private:ro

    environment:
      SERVER: "{{ beszel_agent_server }}"
      LISTEN: "{{ beszel_agent_listen_port }}"
      KEY: "{{ beszel_agent_key }}"
      TOKEN: "{{ beszel_agent_token }}"
      HUB_URL: "{{ beszel_agent_hub_url }}"
      SYSTEM_NAME: "{{ beszel_agent_system_name }}"
