[Unit]
Description=K3s Manager Node
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/local/bin/k3s server \
  --token {{ k3s_token }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

