apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: moodle-data
  namespace: {{ moodle_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ moodle_pvc_size }}
  {% if moodle_storage_class %}
  storageClassName: {{ moodle_storage_class }}
  {% endif %}
