version: "3.8"

services:
  wikijs:
    image: "requarks/wiki:{{ wikijs_version }}"

    container_name: wikijs
    restart: unless-stopped

    environment:
      DB_TYPE: postgres
      DB_HOST: "{{ hostvars[groups[wikijs_db_group][0]].ansible_host }}"
      DB_PORT: 5432
      DB_USER: "{{ wikijs_db_user }}"
      DB_PASS: "{{ wikijs_db_password }}"
      DB_NAME: "{{ wikijs_db_name }}"

    ports:
      - "{{ wikijs_port }}:3000"

    volumes:
      - "{{ wikijs_app_volume }}:/wiki/data"

    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  {{ wikijs_app_volume }}: