$TTL 86400
@   IN  SOA ns.{{ dns_domain }}. admin.{{ dns_domain }}. (
        2026012001 ; Serial
        3600        ; Refresh
        1800        ; Retry
        604800      ; Expire
        86400 )     ; Minimum

@       IN  NS      ns.{{ dns_domain }}.

{% for record in dns_records %}
{{ record.name.split('.')[0] }}   IN  A   {{ record.ip }}
{% endfor %}

