# ============================================================
# Mailu - Configuration ENV (POC stable pour ton infra)
# ============================================================

# Clé de chiffrement interne Mailu (obligatoire)
SECRET_KEY={{ mailu_secret_key }}

# Domaine principal de messagerie
DOMAIN={{ mailu_domain }}

# Hostnames accessibles
HOSTNAMES={{ mailu_fqdn }}

# Adresse du postmaster
POSTMASTER={{ mailu_admin_user }}

# ============================================================
# TLS
# IMPORTANT : TLS géré par ton reverse proxy Nginx
# ============================================================
TLS_FLAVOR=notls

# ============================================================
# Réseau interne Mailu (OBLIGATOIRE)
# Doit être différent de ton LAN
# ============================================================
SUBNET=192.168.203.0/24

# ============================================================
# Auth / sécurité
# ============================================================
AUTH_RATELIMIT=10/minute
AUTH_RATELIMIT_IP=100/hour

WELCOME=true
ADMIN=true

# ============================================================
# Base de données (POC simple)
# ============================================================
DB_FLAVOR=sqlite

# ============================================================
# Webmail
# IMPORTANT : image = webmail (pas roundcube)
# ============================================================
WEBMAIL=webmail
WEBDAV=none

# ============================================================
# Limites message (optionnel mais propre pour démo)
# ============================================================
MESSAGE_SIZE_LIMIT=50000000

# ============================================================
# Debug (désactivé pour soutenance)
# ============================================================
DEBUG=False