services:
  beszel-server:
    image: {{ beszel_image_name }}
    container_name: beszel-server
    ports:
      - "{{ beszel_port }}:{{ beszel_port }}"
    volumes:
      - beszel-data:/data
    environment:
      - BESZEL_PORT={{ beszel_port }}
      - SYSTEM_NAME={{ beszel_system_name }}
    restart: unless-stopped

volumes:
  beszel-data:
