apiVersion: v1
kind: Service
metadata:
  name: moodle
  namespace: {{ moodle_namespace }}
spec:
  type: {{ moodle_service_type }}
  selector:
    app: moodle
  ports:
    - port: {{ moodle_service_port }}
      targetPort: 8080
