apiVersion: v1
kind: Service
metadata:
  name: moodle
  namespace: {{ moodle_namespace }}
spec:
{% if moodle_enable_ip_access | bool %}
  type: NodePort
{% else %}
  type: {{ moodle_service_type }}
{% endif %}
  selector:
    app: moodle
  ports:
    - port: {{ moodle_service_port }}
      targetPort: 80
{% if moodle_enable_ip_access | bool %}
      nodePort: {{ moodle_node_port }}
{% endif %}
