# Configuration pg_hba.conf générée par Ansible
# =============================================

# Connexions locales
local   all             all                                     peer

# Connexions IPv4 locales
host    all             all             127.0.0.1/32           md5

# Connexions IPv6 locales (pour SSH tunnel)
host    all             all             ::1/128                 md5

# Connexions depuis le sous-réseau iac-v3
host    all             all             192.168.20.0/24         md5

# Connexions de réplication
host    replication     {{ repmgr_user }}          192.168.20.20/32        md5
host    replication     {{ repmgr_user }}          192.168.20.21/32        md5

# Connexions repmgr
host    {{ repmgr_database }}    {{ repmgr_user }}          192.168.20.20/32        md5
host    {{ repmgr_database }}    {{ repmgr_user }}          192.168.20.21/32        md5
