# Configuration pg_hba.conf générée par Ansible
# =============================================

# Connexions locales
local   all             all                                     peer

# Connexions IPv4
host    all             all             0.0.0.0/0           md5

# Connexions de réplication
host    replication     {{ repmgr_user }}          192.168.56.21/32         md5
host    replication     {{ repmgr_user }}          192.168.56.22/32         md5
host    replication     {{ repmgr_user }}          192.168.56.23/32      md5

# Connexions repmgr
host    {{ repmgr_database }}    {{ repmgr_user }}          192.168.56.21/32         md5
host    {{ repmgr_database }}    {{ repmgr_user }}          192.168.56.22/32         md5
host    {{ repmgr_database }}    {{ repmgr_user }}          192.168.56.23/32      md5
