# Configuration repmgr générée par Ansible (basée sur scripts fonctionnels)
node_id={{ node_id }}
node_name={{ node_name }}
conninfo='host={{ ansible_host }} port=5432 user={{ repmgr_user }} dbname={{ repmgr_database }} connect_timeout=2 password={{ repmgr_password }}'
data_directory='/var/lib/postgresql/16/main'
pg_bindir='/usr/lib/postgresql/16/bin'
use_replication_slots=1
monitoring_history=true
monitor_interval_secs=2
reconnect_attempts=6
reconnect_interval=5
failover=automatic
{% if inventory_hostname != 'master' %}
promote_command='/usr/bin/repmgr standby promote -f /etc/repmgr/16/repmgr.conf'
follow_command='/usr/bin/repmgr standby follow -f /etc/repmgr/16/repmgr.conf'
{% endif %}
